<%= form_with(model: playlist_has_song) do |form| %>
  <% if playlist_has_song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(playlist_has_song.errors.count, "error") %> prohibited this playlist_has_song from being saved:</h2>

      <ul>
        <% playlist_has_song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
