<h1>Editing playlist has song</h1>

<%= render "form", playlist_has_song: @playlist_has_song %>

<br>

<div>
  <%= link_to "Show this playlist has song", @playlist_has_song %> |
  <%= link_to "Back to playlist has songs", playlist_has_songs_path %>
</div>
