<div id="<%= dom_id user_has_playlist %>">
  <p>
    <strong>User:</strong>
    <%= user_has_playlist.user_id %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= user_has_playlist.playlist_id %>
  </p>

</div>
